<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deposit Money</title>
</head>
<body>
    <div id="dep">
        &nbsp;&nbsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  <font size="10">Deposit</font><br>
    <form action="/deposit" method="POST">
    <input class="i" name="NB" type="number" placeholder="Enter Amount to be depsoited." required><br><br>
    <button class="b1"type="submit">Deposit</button>
    </form><br>
    <a href="/">Go Back</a>
    </div>
    
    
</body>
</html>
<style>
    html,body{
        background-color: gray
    }
    .b1{
        font-size: 21px;
        width: 10.3cm;
        background-color: green;
    }
    #dep{
        transform: translate(14cm,3cm);
    }
    .i{
        width: 10cm;
        height: 0.7cm;
    }

</style>