<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Withdraw Money</title>
</head>
<body>
    <div id="with">
       &emsp;&emsp;&emsp;&emsp;<font size="10"> Withdraw </font>
    <form action="/withdraw" method="POST">
    <input class="in" type="number" name="WM" placeholder="Enter Amount to be withdrawn."><br><br>
    <button type="submit" class="b2"> Withdraw</button>
    </form><br>
    <a href="/">Go Back</a>
    </div>
</body>
</html>
<style>
    html,body{
        background-color: gray;
    }
    #with{
        transform: translate(14cm,4cm);
    }
    .in{
        width: 10cm;
        height: 0.7cm;
    }
    .b2{
        font-size: 21px;
        width: 10.3cm;
        background-color: green;
    }
</style>